<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Service Addresses -->
    <add key="GoldmineImportServiceAddress" value="http://localhost:8100/GoldmineImportService/"/>
    <add key="UserServiceAddress" value="http://localhost:8100/UserService/"/>

    <!-- Service Import USER -->
    <add key="ServerImportingUser_USERNAME" value="LArnold"/>

    <add key="LogDirectory" value="C:\Logs\RGI2Logging\ClientLogging"/>
  </appSettings>
  <connectionStrings>
    <add name="RiftEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RIFT-DEV-2K8\RIFTDEVSQL;initial catalog=RiftUAT;user id=sa;password=Halloween?;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GoldmineEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rift-dev-2k8\riftdevsql;initial catalog=GoldmineUAT;user id=sa;password=Halloween?;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
